.history {
  text-align: left;
  border: 1px solid #634832;
  color: #634832;
  background-color: #fff5ee;
  width: 300px;
  height: 400px;
}

.history .scroll {
   overflow: auto;
   width: auto;
   height: 331px;
}

::-webkit-scrollbar {
   width: 10px;
 }

::-webkit-scrollbar-track {
   background: #fff5ee; 
 }

::-webkit-scrollbar-thumb {
   background: #88664d; 
   border-radius: 10px;
 }
 
::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }

