.navbar-color {
    background-color: #634832;
}

#nav-link-override {
    color: white;
}

#img-override {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

#navbar-brand-override{
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
}