/* navbar styling */
.navbar-color {
    background-color: #634832;
}

#container-override {
    padding: 0;
}

#nav-link-override {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

#right-navbar-nav-override {
    padding-right: 20px;
}

#img-override {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

#small-img-override {
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

#navbar-brand-override{
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    font-size: 30px;
}

/* modal styling */
#modal-label-signup {
    padding-left: 150px;
    color:white;
    font-weight: 3px;
}

#modal-label-login {
    padding-left: 205px;
    color:white;
    font-weight: 3px;
}

#modal-header-override {
    background-color: #634832;
}

#inputLabel {
    font-weight: 100px;
    font-size:20px;
}

#btn-override {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}