.timer {
    text-align: center;
    box-sizing: content-box;  
    width: 600px;
    height: 500px;;
    padding: 30px 0px;
    background-color: #634832;
    margin-top: 100px;
    border-radius: 30px;
}

.timer-display {
    color: white;
    font-size: 105px;
    border-bottom: 1px solid white;
    line-height: 150px;
    margin-bottom: 20px;
    background-color: #88664d;
}

.timer-type {
    background-color: #634832;
    height: 70px;
    width: 300px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;
    display: inline-block;
    
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-weight: 10px;
    cursor: pointer;
}

#timer-button-divider {
    width: 20px;
    height:auto;
    display:inline-block;
}

.timer-button {
    background-color: white;
    border: 2px solid #696969;
    padding: 15px;
    width: 150px;

    color: #696969;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

.timer-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.add-description {
    text-align: center;
    width: 355px;
    height: 70px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #967259;
    color: white;
    font-size: 25px;
}

.add-description::placeholder {
    color: #ACACAC;
    font-size: 25px;
}

.add-description-text {
    margin-right: 8px;
    color: white;
    text-align: left;
}

.time {
    width: 150px;
}

.timer-input-button {
    width: 70px;
    height: 42px;
    background-color: white;
    border: 2px solid #696969;
    
    font-size: 18px;
    color: #696969;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.big-timer-input-button {
    width: 160px;
}

.timer-input-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* stopwatch styles */

/* countdown styles */
.disabled-timer-buttons .disabled {
    background-color: rgb(155, 155, 155);
}
