.timer {
    box-sizing: content-box;  
    width: 450px;
    height: 420px;;
    padding: 25px 0px;
    background-color: #634832;
    border-radius: 28px;
}

.timer-display {
    color: white;
    font-size: 80px;
    border-bottom: 1px solid white;
    line-height: 125px;
    margin-bottom: 20px;
    background-color: #88664d;
}

.timer-type {
    background-color: #634832;
    height: 70px;
    width: 300px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: white;
    display: inline-block;
    
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    cursor: pointer;
}

#timer-button-divider {
    width: 20px;
    height:auto;
    display:inline-block;
}

.timer-button {
    background-color: white;
    border: 2px solid #967259;
    border-radius: 10px;
    padding: 15px;
    width: 120px;

    color: #634832;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

.timer-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.add-description {
    text-align: center;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    background-color: #967259;
    color: white;
    font-size: 20px;
}

.add-description::placeholder {
    color: #ACACAC;
    font-size: 20px;
}

.add-description-text {
    margin-right: 25px;
    color: white;
    text-align: left;
    font-size: 12px;
}

/* countdown styles */
.disabled-timer-buttons .disabled {
    background-color: rgb(155, 155, 155);
}

.timer-input-button {
    width: 66px;
    height: 36px;
    background-color: white;
    border: 1px solid #967259;
    
    font-size: 15px;
    color: #634832;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}

.big-timer-input-button {
    width: 120px;
}

.timer-input-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

