#app-container-override {
    background-color: #fff5ee;
    padding: 0;
    height: 100vh;
    padding-bottom: 250px;
}

.helper-col {
    margin-top: 250px;
}

.history-col {
    margin-top: 135px;
}

.timer-col {
    margin-top: 100px;
}

@media only screen and (max-width: 998px) {
    .helper-col {
        display: none;
    }

    .timer-col {
        margin-top: 100px; 
    }
}
