/* navbar styling */
.navbar-override {
    background-color: #634832;
    font-size: 20px;
}

#navbar-brand-override {
    font-size: 26px;
    display:inline-block;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}

#right-navbar-nav-override {
    padding-right: 20px;
}

#img-override {
    height: auto; 
    width: auto; 
    max-width: 40px; 
    max-height: 40px;
}

#small-img-override {
    height: auto;
    width: auto;
    max-width: 20px;
    max-height: 20px;
    padding-right: 3px;
}

